<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-nav">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Password Management System</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              >Password Category
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/add-new-category" class="dropdown-item"
                  >Add New Category</a
                >
              </li>
              <li>
                <a href="/passwordCategory" class="dropdown-item"
                  >View All Category</a
                >
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              >Password Details
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="add-new-password" class="dropdown-item"
                  >Add New Password</a
                >
              </li>
              <li>
                <a href="/view-all-password" class="dropdown-item"
                  >View All Password</a
                >
              </li>
            </ul>
          </li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="navbar-header" style="float: right">
          <a class="navbar-brand" href="#">Loggedin As:</a>
        </div>
      </div>
    </nav>

    <!-- create an add new password form  -->
    <div class="container">
      <div class="row">
        <h2 class="text-center"><%= title %></h2>
        <div
          id="addnewpasswordbox"
          style="margin-top: 50px"
          class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
        >
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">Add New Password</div>
            </div>
            <div class="panel-body">
              <form
                action="/"
                id="AddNewPasswordForm"
                class="form-horizontal"
                method="post"
                role="form"
              >



              
              <div class="form-group">
                <label for="selectcategory" class="col-md-3 control-label">Password Category</label>
                <div class="col-md-9">
                  <select
                    id="selectcategory"
                    class="form-control"
                    name="selectedpasswordcategory"
                  >
                    <option selected>Select Password Category</option>
                    <option value="godaddy">Go Daddy</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
              </div>
              

                <div class="form-group">
                  <label for="pasworddesc" class="col-md-3 control-label"
                    >Password Description</label
                  >
                  <div class="col-md-9">
                    <textarea
                      class="form-control"
                      name="newpassword"
                      placeholder="Enter Your Password Description"
                      rows="6"
                    ></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Button -->
                  <div class="col-md-offset-3 col-md-9">
                    <input
                      type="submit"
                      name="submit"
                      value="Add Password"
                      class="btn btn-primary"
                    />
                  </div>
                </div>
              </form>

              <!-- go to the view all password page -->

              <p>
                <a href="/view-all-password">View All Passwords</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
